<a href="https://colab.research.google.com/github/SutapaNayak/Dictionary-and-set-using-python/blob/main/Dictionary_and_set_using_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q.1 Write a Python Program to sort (ascending and descending) a dictionary by value

In [ ]:
import operator
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print('Original dictionary : ',d)
assending_d = dict(sorted(d.items(), key=operator.itemgetter(1)))
print('Dictionary in ascending order by value : ',assending_d)
descending_d =dict(sorted(d.items(), key=operator.itemgetter(1),reverse=True)) ## dict is using to convert into dictionary
print('Dictionary in descending order by value : ',descending_d)

Original dictionary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
Dictionary in ascending order by value :  {0: 0, 2: 1, 1: 2, 4: 3, 3: 4}
Dictionary in descending order by value :  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

Q.2 Write a Python Program to add a key to a dictionary. 

Sample Dictionary : {0: 10, 1: 20}

Expected Result : {0: 10, 1: 20, 2: 30}

In [ ]:
p={0: 10, 1: 20}
q={2: 30}
p.update(q)
print(p)

{0: 10, 1: 20, 2: 30}

Q.3 Write a  program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the Temperature of that City.

In [ ]:
a={"kolkata" : 30,
   "Delhi" :  40,
   "Chennai" : 50,
   "Sikkim" : 25}
b=input("Enter name of the city :")
print(" the temperature of entered city :" , a[b])

Enter name of the city :kolkata
 the temperature of entered city : 30

Q. 4 Write a Python program to convert list to list of dictionaries.

Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"]

Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [ ]:
color_name = ["Black", "Red", "Maroon", "Yellow"]
color_code = ["#000000", "#FF0000", "#800000", "#FFFF00"]
print([{'color_name': f, 'color_code': c} for f, c in zip(color_name, color_code)])

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

 Q. 5 We have following information on Employees and their Salary (Salary is in lakhs),

Employee	Salary

John	14

Smith	13

Alice	32

Daneil	21

1.Using above create a dictionary of Employees and their Salary

In [12]:
emp_sal={'John':14,'Smith':13,'Alice':32,'Daneil':21}
print(emp_sal)

{'John': 14, 'Smith': 13, 'Alice': 32, 'Daneil': 21}

2.Write a program that asks user for three type of inputs,
a.print: if user enter print then it should print all Employees with their Salary in this format,

John ==>14

Smith ==>13

Alice ==>32

Daneil ==>21

b.add: if user input adds then it should further ask for an Employee name to add. If Employee already exists in our dataset then it should print that it exists and do nothing. If it doesn't then it asks for Salary and add that new Employee/Salary in our dictionary and print it

c.remove: when user inputs remove it should ask for an Employee to remove. If an Employee exists in our dictionary then remove it and print a new dictionary using format shown above in (a). Else print that Employee doesn't exist!

d.query: on this again ask the user for which Employee he or she wants to query. When a user inputs that Employee it will print the Salary of that Employee

In [13]:
user_input= input("Enter your choice :print/add/remove/query:")
if user_input=='print':  
 print('John==>14')  
 print('Smith==>13')  
 print('Alice==>32')  
 print('Daneil==>21')
elif user_input=='add':  
 emp= input("Enter the name of the Employee to be added :") 
 if emp in emp_sal.keys():    
   print("Employee name already exists") 
 else:    
   sal=input(f"Enter the salary of {emp}")   
   emp_sal.update({emp:sal})    
   print(emp_sal)
elif user_input=='remove':  
  name= input("Enter the name to be removed: ") 
  if name in emp_sal:  
   emp_sal.pop(name)   
   print(emp_sal)  
  else:   
   print("Employee doesn't exist")
elif user_input=='query':  
 employee= input("Enter the name of the employee you want to query")  
 if employee in emp_sal.keys():   
   print(f"The salary is ->{emp_sal[employee]}") 
 else:    
   print("The employee does not exist")

Enter your choice :print/add/remove/query:add
Enter the name of the Employee to be added :sam
Enter the salary of sam20
{'John': 14, 'Smith': 13, 'Alice': 32, 'Daneil': 21, 'sam': '20'}

## Set theory

 Q.1 What is the difference between a set and a frozenset? Create any set and try to use frozenset(setname

Ans.Frozen set is just an immutable version of a Python set object. While elements of a set can be modied at any time, elements of the frozen set remain the same after creation. Due to this, frozen sets can be used as keys in Dictionary or as elements of another set.

In [16]:
x = set("sutapa") 
print(x)
print(type(x))

{'p', 'u', 't', 's', 'a'}
<class 'set'>

In [17]:
fs = frozenset(x)
print('The frozen set is:',fs)

The frozen set is: frozenset({'p', 'u', 't', 's', 'a'})

Q.2 Find the elements in a given set that are not in another set

    set1 = {10,20,30,40,50}

    set2 = {40,50,60,70,80}

 Difference between set1 and set2 is {10,20,30}

In [18]:
set1 = {10,20,30,40,50}
set2 = {40,50,60,70,80}
print(" Difference between set1 and set2 is :" )
print(set1.difference(set2))

 Difference between set1 and set2 is :
{10, 20, 30}